#bg {
    background-image: url('images/frontPagePhoto.jpeg');
    position: fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

#navBg {
    background-color: #666361;
}

#navBtnBg {
    background-color: #BBB5B2;
}