<div class="row no-gutters" id="navBg">
  <div class="col-10 my-2">
    <a routerLink="" class="ml-2">Gentelman's Shop</a>
  </div>

  <div *ngIf="!sessionStarted">
    <div class="col-1 my-2 mx-auto" style="text-align: right;">
      <a routerLink="/login" class="btn btn-primary" >Login</a>
    </div>
  </div>

  <div *ngIf="sessionStarted">
      <div class="col-1 my-2 mx-auto" style="text-align: right;">
        <a routerLink="" class="btn btn-primary" (click)="logout()">Logout</a>
      </div>
    </div>

  <div class="col-1 my-2" style="text-align: center;">
    <a routerLink="/register" class="btn btn-primary" >Register</a>
  </div>
</div>
<div id="bg">
  <router-outlet></router-outlet>
</div>