<div class="mx-auto col-md-3">
  <h2 id="label">Register</h2>
  <form name="registerForm">
    <div class="form-group">
      <label id="label">First Name</label>
      <input name="firstName" class="form-control" type="text" [(ngModel)]="user.Name" required>
    </div>
    <div class="form-group">
        <label id="label">Second Name</label>
        <input name="secondName" class="form-control" type="text" [(ngModel)]="user.SecondName" required>
      </div>
    <div class="form-group">
      <label id="label">Email</label>
      <input name="email" class="form-control" type="email" [(ngModel)]="user.Email" required>
    </div>
    <div class="form-group">
      <label id="label">Phone</label>
      <input name="phone" class="form-control" type="tel" [(ngModel)]="user.PhoneNumber" required>
    </div>
    <div class="form-group">
      <label id="label">Password</label>
      <input name="password" class="form-control" type="password" [(ngModel)]="user.Password" required>
    </div>
    <div>
      <button class="btn btn-success" (click)="register()">Register</button>
      <a class="btn btn-link" routerLink="/">Cancel</a>
    </div>
  </form>
</div>